{% extends "::base.html.twig" %}

{% block title %}UserBundle:SignUp:check{% endblock %}

{% block body %}
<h1 id="signup-status">Registration successfull, now you can signIn as <span id="login">{{ login }}</span></h1>

{% endblock %}
